In [1]:
v = "otro texto"
n = 10
print("Un texto", v, "y un número", n)

Un texto otro texto y un número 10

In [2]:
c = "Un texto {} y un número {}".format(v, n)
c

'Un texto otro texto y un número 10'

In [3]:
print(c)

Un texto otro texto y un número 10

In [4]:
print("Un texto {0} y un número {1}".format(v, n))

Un texto otro texto y un número 10

In [5]:
print("Un texto {1} y un número {0}".format(v, n))

Un texto 10 y un número otro texto

In [6]:
print("Un texto {texto} y un número {numero}".format(texto = v, numero = n))

Un texto otro texto y un número 10

In [10]:
print("Un texto {t} y un número {n}".format(t = v, n = n))

Un texto otro texto y un número 10

In [13]:
print("{v},{v},{v}".format(v=v))

otro texto,otro texto,otro texto

In [14]:
print("{:>30}".format("palabra")) #Alineado a la derecha en 30 caracteres

                       palabra

In [15]:
print("{:30}".format("palabra")) #Alineado a la izquierda en 30 caracteres

palabra

In [16]:
print("{:^30}".format("palabra")) #Alineado al centro en 30 caracteres

           palabra

In [18]:
print("{:.4}".format("palabra")) #Truncamiento a 3 caracteres

pala

In [19]:
print("{:>30.3}".format("palabra")) #Alineado a la derecha en 30 caracteres con truncamiento de 3

                           pal

In [21]:
# Formateo de números enteros, rellenados con espacios
print("{:4d}".format(10))
print("{:4d}".format(100))
print("{:4d}".format(1000))

  10
 100
1000

In [22]:
# Formateo de números enteros, rellenados con ceros
print("{:04d}".format(10))
print("{:04d}".format(100))
print("{:04d}".format(1000))

0010
0100
1000

In [23]:
# Formateo de números flotantes, rellenados con espacios
print("{}".format(3.1415926))

3.1415926

In [26]:
# Formateo de números flotantes, rellenados con espacios
print("{:.3f}".format(3.1415926))
print("{:.3f}".format(153.21))

3.142
153.210

In [27]:
# Formateo de números flotantes, rellenados con espacios
print("{:7.3f}".format(3.1415926))
print("{:7.3f}".format(153.21))

  3.142
153.210

In [28]:
# Formateo de números flotantes, rellenados con espacios
print("{:07.3f}".format(3.1415926))
print("{:07.3f}".format(153.21))

003.142
153.210